@media screen and (max-width: 300px) {
    .ecp1{
        font-size: 1.5cm;
        color: black;
        text-align: center;
        margin-left: 20px;
    }
    }  


.ecimg1
{
    float: right;
    height: 400px;
    width: 300px;
    margin-right: 120px;
    margin-top: 30px;
}

@media screen and (max-width: 600px) {
    .ecimg1
    {
        float: left;
        height: auto;
        width: 100%;
    }
}
